*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("./img/Fondo3.jpg");
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

header>div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: rgb(219, 219, 219);
    /* padding: 40px; */
}

header>div>nav{
    color: black;
    font-size: 26pt;
    padding: 20px;
    background-color: rgb(219, 219, 219);
}

header>div>#navPortfolio{
    width: 30%;
}

header>div>#navIdiomas{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* text-align: right; */
    width: 25%;
    gap: 15px;
}

header>div>#navIdiomas>a{
    /* text-align: center; */
    font-size: 13pt;
}

header>div>#navIdiomas>a>img{
    width: 30px;
}

header>#navMenu{
    margin: 3%;
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

nav>a{
    text-decoration: none;
    color: black;
}

header>nav>a{
    border-radius: 5px;
    text-align: center;
    width: 22%;
    padding: 25px;
    background-color: rgb(219, 219, 219);
    text-decoration: none;
    color: black;
    font-size: 20pt;
    transition: 0.5s;
}

header>#navMenu>a{
    border-radius: 5px;
    text-align: center;
    width: 22%;
    padding: 25px;
    background-color: rgb(219, 219, 219);
    text-decoration: none;
    color: black;
    font-size: 12pt;
    transition: 0.5s;
}

header>#navMenu>a:hover{
    color: white;
    background-color: rgb(95, 95, 95);
    transition: 0.5s;
    scale: 1.1;
}

main{
    display: flex;
    flex-flow: column nowrap;
    gap: 60px;
    align-items: center;
    justify-content: center;
    margin: 3%;
}

main>p{
    font-size: 18pt;
    line-height: 24px;
    color: white;
}

main>h1{
    color: white;
    font-size: 36pt;
    margin-top: 80px;
    padding: 0px 25% 20px 25%;
    text-align: center;
    border-bottom: 4px solid white;
}

main>h2{
    color: white;
    font-size: 26pt;
    font-weight: bold;
    text-align: center;
}

@media (min-width: 0px) and (max-width: 599px){
    header>#navMenu{
        margin: auto;
        flex-flow: column;
        width: 92%;
        gap: 13px;
        margin-top: 15px;
    }
    header>#navMenu>a{
        width: 100%;
        padding: 17px;
    }
    main>h1{
        font-size: 26pt;
        width: 100%;
        padding: 5%;
        margin-top: 15px;
        border-bottom: 3px solid white;

    }
    main>h2{
        font-size: 13pt;
    }
    main{
        margin: 6%;
    }
    html, body{
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./img/Fondo3Mobile.jpg");
    }
}

@media (min-width: 600px) and (max-width: 999px){

}

@media (min-width: 1000px){
    
}